<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/Asset/css/style.css">
</head>
<body>

    <div class="container">
        <header class="header">
            <div class="logo">
                <h3 style="display: inline;">Korean Food Quản Lý</h3>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a asp-controller="ThongKe" asp-action="Index">Thông Kê</a></li>
                    <li><a asp-controller="Order" asp-action="ListOrder">Đơn hàng</a></li>
                </ul>
            </nav>
            <div class="user-profile">
                <span>@Context.User.Identity.Name</span>
                @*                 <a asp-action="DangXuat" asp-controller="KhachHang">Logout</a>
                *@
            </div>
        </header>
    </div>
    <div style="min-height:700px">


        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>